@charset "utf-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.wrapper {
  width: 300px;
  margin: 0 auto;
  font-size: 0;
  background-color: #000000;
}

.calc {
  background-color: #333333;
  font-size: 32px;
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding-right: 10px;
}

.panel {
  background-color: #999999;
  width: 75px;
  height: 75px;
}

.panel:active {
    opacity: 0.8;
}

.panel.black {
  background-color: #4b555c;
}

.panel.orange {
  background-color: #ffa500;
}

.panel.long {
  width: 150px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
}
