@charset "utf-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.wrapper {
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
      }
}